@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins";
}

body {
	background: #50623a;
}

.header {
	display: flex;
	background: #dbe7c9;
	padding: 20px;
}

.header * {
	font-family: "Josefin Slab";
}

.header .header-title {
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.header .header-title img {
	height: 100px;
}

.header .header-title .header-title-texts {
	width: 200px;
	color: #294b29;
	margin-left: 10px;
}

.header .header-title .header-title-texts h1 {
	font-size: 3.2em;
	font-weight: 500;
}

.header .header-title .header-title-texts h6 {
	font-size: 1.2em;
	font-weight: 500;
}

.header .header-nav {
	display: flex;
	align-items: center;
	margin-left: 175px;
}

.header .header-nav button {
	margin: auto 10px;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 10px;
	font-size: 1.1em;
	cursor: pointer;
}

.main {
}

.main .main-form_search {
	display: flex;
	justify-content: center;
	width: 500px;
	margin: 30px auto 0;
}

.main .main-form_search input {
	width: 400px;
	height: 30px;
	border-radius: 10px;
	border: none;
	margin-right: 10px;
	outline: none;
	resize: none;
}

.main .main-form_search button {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border: none;
	background: white;
	cursor: pointer;
}

.main .main-form_add {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding: 20px;
	margin: 0 auto;
}

.main .main-form_add .main-form_add-title {
	margin-bottom: 10px;
}

.main .main-form_add .main-form_add-title p {
	text-align: center;
	color: #dbe7c9;
}

.main .main-form_add .main-form_add-inputs {
	display: flex;
	flex-direction: column;
}

.main .main-form_add .main-form_add-inputs input,
.main .main-form_add .main-form_add-inputs button {
	text-align: center;
	margin-top: 7px;
	border: none;
	border-radius: 5px;
	background: #fff;
}

.main .main-form_add .main-form_add-inputs button {
	cursor: pointer;
}

.main .main-form_add .main-form_add-buttons {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.main .main-form_add .main-form_add-buttons button {
	border: none;
	height: 30px;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	font-weight: 600;
}

.main .main-table {
	width: 70%;
	text-align: center;
	margin: 10px auto;
}

.main .main-table thead {
	background: #294b29;
}

.main .main-table thead tr {
}

.main .main-table thead tr td {
	font-weight: 600;
}

.main .main-table tbody {
	background: #dbe7c9;
}

.main .main-table tbody tr {
}

.main .main-table tbody tr td {
}

.main .main-table tbody tr td button {
	background: none;
	border: none;
	cursor: pointer;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	color: #dbe7c9;
	background: #294b29;
}
