<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link href="./stylesheets/books.css" rel="stylesheet" />
	</head>
	<body>
		<div class="header">
			<div class="header-title">
				<img
					src="https://img.freepik.com/premium-photo/books-with-stairs-sky-with-cloudsgenerative-ai_391052-11895.jpg"
				/>
				<div class="header-title-texts">
					<h1>Librarian</h1>
					<h6>add and explore books you're looking for</h6>
				</div>
			</div>
			<div class="header-nav">
				<button id="header-nav-home" type="button">Home</button>
				<button id="header-nav-add" type="button">Add</button>
			</div>
		</div>
		<div class="main"></div>
		<div id="footer">Copyright © github.com/seojunchian</div>
	</body>
	<script
		type="module"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	></script>
	<script type="module" src="./javascripts/books.js"></script>
</html>
