<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link href="./stylesheets/index.css" rel="stylesheet" />
	</head>
	<body>
		<div class="header">
			<div class="header-title">
				<img
					src="https://img.freepik.com/premium-photo/books-with-stairs-sky-with-cloudsgenerative-ai_391052-11895.jpg"
				/>
				<div class="header-title-texts">
					<h1>Librarian</h1>
					<h6>add and explore books you're looking for</h6>
				</div>
			</div>
			<div class="header-nav">
				<button id="header-nav-add" type="button">Add</button>
				<button id="header-nav-see" type="button">See</button>
			</div>
		</div>
		<div class="main">
			<div class="main-first_word">
				<div class="main-first_word-word">
					<p>YOU HAVE TO LIVE YOUR LIFE LIKE YOU'LL NEVER BE SORRY</p>
				</div>
				<div class="main-first_word-image">
					<img
						src="https://m.media-amazon.com/images/I/71jAhTHqOGL._AC_UF1000,1000_QL80_.jpg"
					/>
				</div>
			</div>
			<div class="main-second_word">
				<div class="main-second_word-image">
					<img
						src="https://mysleepyhead.com/media/catalog/product/j/i/jigsw_3.jpg"
					/>
				</div>
				<div class="main-second_word-word">
					<p>YOU ARE STRONGER THAN YOU BELIEVE</p>
				</div>
			</div>
		</div>
		<div class="footer">github.com/seojunchian</div>
	</body>
	<script type="module" src="./javascripts/index.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</html>
